{% extends "base.html" %}

{% load static %}

{% load reclamation_tags %}

{% block content %}
    <div class="d-flex justify-content-end p-1">
        <h5>Ваша учетная запись - <strong>{{request.user.username}}</strong></h5>
    </div>

    <div class="d-flex justify-content-center p-4">
        <h4>Информацию о заявленных клиентами рекламациях, и сроках их устранения </h4>
    </div>

    {% include "includes/radiobuttons.html" %}

    <div class="d-flex pt-5">

        <!-- Форма сортировки -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Сортировка таблицы
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="?order_by=default">По умолчанию</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item fontSizeBtn" href="?order_by=date_of_refusal">По возрастанию даты отказа</a></li>
                <li><a class="dropdown-item fontSizeBtn" href="?order_by=-date_of_refusal">По убыванию даты отказа</a></li>    
            </ul>
        </div>

        <!-- Фильтрация по узел отказа -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Узел отказа
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="{% url "reclamation:reclamation_all" %}">Все узлы</a></li>
                <li><hr class="dropdown-divider"></li>
                {% tag_failure_node as failure_node %}
                {% for node in failure_node %}
                    <li>
                        <a class="dropdown-item fontSizeBtn" href="{% url "reclamation:failure_node" node.id %}">
                            {{ node.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Фильтрация по способ восстановления -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cпособ восстановления
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="{% url "reclamation:reclamation_all" %}">Все узлы</a></li>
                <li><hr class="dropdown-divider"></li>
                {% tag_recovery_method as recovery_method %}
                {% for method in recovery_method %}
                    <li>
                        <a class="dropdown-item fontSizeBtn" href="{% url "reclamation:recovery_method" method.id %}">
                            {{ method.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Фильтрация по сервисная компания -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cервисная компания
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="{% url "reclamation:reclamation_all" %}">Все узлы</a></li>
                <li><hr class="dropdown-divider"></li>
                {% tag_service_company as service_company %}
                {% for company in service_company %}
                    <li>
                        <a class="dropdown-item fontSizeBtn" href="{% url "reclamation:service_company" company.id %}">
                            {{ company.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <button class="btn btn-primary btn-sm mb-2 ms-auto" type="button" onclick="window.location.href='{% url "reclamation:add_reclamation" %}'; return false">
            <img class="mx-1" src="{% static "source/icons/clipboard-x-fill.svg" %}" alt="add" width="16" height="16">
            Добавить рекламацию
        </button>

    </div>
    
    <table class="table table-striped">
        <thead class='myTHead'>
        <tr>
            <th scope="col">Дата отказа</th>
            <th scope="col">Наработка, м/час</th>
            <th scope="col" {% if 'failure_node' in request.path %} class="colorRed"{% endif %}>Узел отказа</th>
            <th scope="col">Описание отказа</th>
            <th scope="col" {% if 'recovery_method' in request.path %}class="colorRed"{% endif %}>Способ восстановления</th>
            <th scope="col">Используемые запасные части</th>
            <th scope="col">Дата восстановления</th>
            <th scope="col">Время простоя техники</th>
            <th scope="col" {% if 'service_company' in request.path %}class="colorRed"{% endif %}>Сервисная компания</th>
            <th scope="col">Машина</th>
            <th scope="col"></th>
            
        </tr>
        </thead>

        <tbody>
        {% for item in reclamation %}
        
            <tr 
                {% comment %} onclick="window.location.href='{% url "reclamation:this_reclamation" item.id %}'; return false" {% endcomment %}
            >
                
                <td>{{ item.date_of_refusal }}</td>
                <td>{{ item.operating_hours }}</td>
                <td>{{ item.failure_node }}</td>
                <td>{{ item.description_of_failure|truncatechars:25 }}</td>
                <td>{{ item.recovery_method }}</td>
                <td>{{ item.parts_used|truncatechars:25 }}</td>
                <td>{{ item.restore_date }}</td>
                <td>{{ item.equipment_downtime }}</td>
                <td>{{ item.service_company }}</td>
                <td>{{ item.car }}</td>
                <td class="p-1">
                    <div class="d-inline-flex justify-content-between">
                        <a href="#" class="remove-from-cart m-2" data-bs-toggle="modal" data-bs-target="#exampleModal_{{item.id}}">
                            <img class="mx-1" src="{% static "source/icons/trash3-fill.svg" %}" alt="Trash" width="16" height="16">
                        </a>
                        <a href="{% url "reclamation:edit_reclamation" item.id %}" class="remove-from-cart m-2">
                            <img class="mx-1" src="{% static "source/icons/tools.svg" %}" alt="Tools" width="16" height="16">
                        </a>
                    </div>
                    
                      <!-- Modal -->
                    <div class="modal fade" id="exampleModal_{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel_{{item.id}}" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body fs-5">
                                Вы действительно хотите удалить рекламацию {{item}}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <button type="button" class="btn btn-primary" 
                                    onclick="window.location.href='{% url "reclamation:remove_reclamation" item.id %}'; return false">Удалить</button>
                            </div>
                        </div>
                        </div>
                    </div>

                </td>
                 
            </tr>
        
        {% endfor %}

        </tbody>
    </table>

    <!-- Пагинация -->
    {% if reclamation %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not reclamation.has_previous %}disabled{% endif %}">
                    <a class="page-link" href="{% if reclamation.has_previous %}?{% change_params page=reclamation.previous_page_number %}
                    {% else %}
                        #
                    {% endif %}">Назад</a>
                </li>

                {% for page in reclamation.paginator.page_range %}
                    {% if page >= reclamation.number|add:-2 and page <= reclamation.number|add:2 %}
                        <li class="page-item {% if reclamation.number == page %} active {% endif %}">
                            <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <li class="page-item {% if not reclamation.has_next %}disabled{% endif %}">
                    <a class="page-link" href="{% if reclamation.has_next %}?{% change_params page=reclamation.next_page_number %}
                    {% else %}
                        #
                    {% endif %}">Вперед</a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}