@font-face {
    font-family: 'Astra-Sans_Regular';            
    src: url('../source/fonts/PT-Astra-Sans_Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Astra-Sans_Bold';            
    src: url('../source/fonts/PT-Astra-Sans_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Astra-Sans_Italic';            
    src: url('../source/fonts/PT-Astra-Sans_Italic.ttf') format('truetype');
}

body {
    font-family: 'Astra-Sans_Regular', Arial, Helvetica, sans-serif;
    background: #EBE6D6;
    height: 100%;
}

header {
    /* d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

h1, h2, h3, h4, h5 {
    font-family: 'Astra-Sans_Bold', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.font-weight-bold {
    font-family: 'Astra-Sans_Bold', Arial, Helvetica, sans-serif;
    
}

i {
    font-family: 'Astra-Sans_Italic';
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
}

.colorGray {
    background: #EBE6D6 !important;
}

.colorBlue {
    background: #163E6C;
    /* background-color: #D20A11; */
    /* background-color: #EBE6D6; */
}

.colorRed {
    background: #D20A11 !important;
}

.textRed {
    color: #D20A11
}

.border-bottom {
    border-bottom: 2px solid #163E6C !important;
}

.myFooter {
    flex: 0 0 auto;
}

.footerText {
    display: flex;
    justify-content: space-around;
    /* align-items: stretch; */
 }

.form-control {
    width: 50vw;
}

.auth-width {
    width: 100%;
}

.me-2 {
    margin-right: 3rem!important;
}

.myHead {
    /* padding-top: 1%; */
    padding-bottom: 3%;
}

.mySearch {
    padding-top: 3%;
    padding-bottom: 1%;
}

.myTHead {
    font-size: 10px;
}

td {
    font-size: 8px;
}

.fontSizeBtn {
    font-size: 12px;
}

.t-width {
    min-width: 5rem;
}

.radiobuttonsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1rem;
}

.radiobuttonsItem {
    margin-left: 7rem;
}

.filtrationButtons {
    display: flex;
    padding-top: 2rem;
}

.filtrationButtonsCollaps {
    display: none;
}

.btnGroupDeskbook {
    display: flex;
}

.dropdownDeskbook {
    display: none;
}

@media screen and (max-width: 1920px) {
    .radiobuttonsItem {
        margin-left: 6rem;
    }
}
@media screen and (max-width: 1536px) {
    .radiobuttonsItem {
        margin-left: 5rem;
    }
    
}
@media screen and (max-width: 1440px) {
    .radiobuttonsItem {
        margin-left: 4rem;
    }

}
@media screen and (max-width: 1366px) {
    .radiobuttonsItem {
        margin-left: 3rem;
    }

    .filtrationButtons {
        display: none;
    }
    .filtrationButtonsCollaps {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .btnGroupDeskbook {
        display: none;
    }
    .dropdownDeskbook {
        display: flex;
    }
}

@media screen and (max-width: 720px) {
    
    .radiobuttonsWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1rem;
    }
    .radiobuttonsItem {
        margin-left: 1rem;
        margin-top: 1rem;
    }
    header div:nth-child(2){
        display: none;
    }
    
}

@media screen and (max-width: 450px) {
    header {
        flex-direction: column;
    }
    header div {
        margin-top: 1rem;
    }
    header img {
        height: 150px;
        width: 360px;
    }

}
