@font-face {
    font-family: 'Astra-Sans_Regular';            
    src: url('../source/fonts/PT-Astra-Sans_Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: 'Astra-Sans_Bold';            
    src: url('../source/fonts/PT-Astra-Sans_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Astra-Sans_Italic';            
    src: url('../source/fonts/PT-Astra-Sans_Italic.ttf') format('truetype');
}

body {
    font-family: 'Astra-Sans_Regular', Arial, Helvetica, sans-serif;
    background: #EBE6D6;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Astra-Sans_Bold', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.font-weight-bold {
    font-family: 'Astra-Sans_Bold', Arial, Helvetica, sans-serif;
    
}

i {
    font-family: 'Astra-Sans_Italic';
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
}

.colorGray {
    background: #EBE6D6 !important;
}

.colorBlue {
    background: #163E6C;
    /* background-color: #D20A11; */
    /* background-color: #EBE6D6; */
}

.colorRed {
    background: #D20A11 !important;
}

.textRed {
    color: #D20A11
}

.border-bottom {
    border-bottom: 2px solid #163E6C !important;
}

.myFooter {
    flex: 0 0 auto;
}

.footerText {
    display: flex;
    justify-content: space-around;
    /* align-items: stretch; */
 }

.form-control {
    width: 50vw;
}

.auth-width {
    width: 100%;
}

.me-2 {
    margin-right: 3rem!important;
}

.myHead {
    /* padding-top: 1%; */
    padding-bottom: 3%;
}

.mySearch {
    padding-top: 3%;
    padding-bottom: 1%;
}

.btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.myTHead {
    font-size: 10px;
}

td {
    font-size: 8px;
}

.fontSizeBtn {
    font-size: 12px;
}


