body {
    background: #EBE6D6;
}
.colorGray {
    background: #EBE6D6 !important;
}

.colorBlue {
    background: #163E6C;
    /* background-color: #D20A11; */
    /* background-color: #EBE6D6; */
}

.border-bottom {
    border-bottom: 2px solid #163E6C !important;
}

.myFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* margin-left: 1.5rem; */
}

.footerText {
    display: flex;
    justify-content: space-around;
    /* align-items: stretch; */
 }

.form-control {
    width: 50vw;
}

.me-2 {
    margin-right: 3rem!important;
}

.myHead {
    /* padding-top: 1%; */
    padding-bottom: 3%;
}

.mySearch {
    padding-top: 3%;
    padding-bottom: 1%;
}

.btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.myTHead {
    font-size: 10px;
}

td {
    font-size: 8px;
}


