{% extends "base.html" %}

{% load static %}
{% load deskbook_tags %}

{% block content %}
    {% include "includes/user_info.html" %}

    <div class="d-flex justify-content-center p-4">
        <h4>Справочники </h4>
    </div>

    <div class="btn-group btnGroupDeskbook" role="group" aria-label="Basic radio toggle button group">
        {% include "includes/filtrationsDeskbook.html" %}
    </div>

    <div class="dropdown dropdownDeskbook">
        <button class="btn btn-primary dropdown-toggle ms-auto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Выберите справочник
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url "deskbook:vehicle_model" %}">Модель техники</a></li>
          <li><a class="dropdown-item" href="{% url "deskbook:engine_model" %}">Модель двигателя</a></li>
          <li><a class="dropdown-item" href="{% url "deskbook:transmission_model" %}">Модель трансмиссии</a></li>
          <li><a class="dropdown-item" href="{% url "deskbook:drive_axle_model" %}">Модель ведущего моста</a></li>
          <li><a class="dropdown-item" href="{% url "deskbook:steering_axle_model" %}">Модель управляемого моста</a></li>
          <li><a class="dropdown-item" href="{% url "deskbook:failure_node" %}">Узел отказа</a></li>
          <li><a class="dropdown-item" href="{% url "deskbook:recovery_method" %}">Способ востановления</a></li>
          <li><a class="dropdown-item" href="{% url "deskbook:view_maintenance" %}">Вид ТО</a></li>
          <li><a class="dropdown-item" href="{% url "deskbook:service_company" %}">Сервисная компания</a></li>
        </ul>
      </div>

      <div class="accordion pt-2" id="accordionPanelsStayOpenExample">
        {% for item in deskbook %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-{{item.id}}" aria-expanded="true" aria-controls="panelsStayOpen-{{item.id}}">
                        <div class='d-flex-row w-100'>
                            <div class="pt-2"><p>{{item.name}}</p></div>
                        </div>

                        <div class="d-inline-flex justify-content-end pe-3 w-100 ">
                            
                            <a href="#" class="remove-from-cart m-2" data-bs-toggle="modal" data-bs-target="#exampleModal_{{item.id}}">
                                <img class="mx-1" src="{% static "source/icons/trash3-fill.svg" %}" alt="Trash" width="16" height="16">
                            </a>
                            <a href="{% url "deskbook:edit_deskbook" request.resolver_match.url_name item.id %}" class="remove-from-cart m-2">
                                <img class="mx-1" src="{% static "source/icons/tools.svg" %}" alt="Tools" width="16" height="16">
                            </a>
                        </div>

                    </button>
                </h2>

                <div id="panelsStayOpen-{{item.id}}" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {{item.description}}
                    </div>
                </div>
            </div>

              <!-- Modal -->
            <div class="modal fade" id="exampleModal_{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel_{{item.id}}" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body fs-5">
                        Вы действительно хотите удалить {{item}}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary" 
                            onclick="window.location.href='{% url "deskbook:remove_deskbook" request.resolver_match.url_name item.id %}'; return false">Удалить</button>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
      </div>

      <button class="btn btn-primary btn-sm mt-2 float-end" type="button" onclick="window.location.href='{% url "deskbook:add_deskbook" request.resolver_match.url_name %}'; return false">
        <img class="mx-1" src="{% static "source/icons/journal-bookmark-fill.svg" %}" alt="add" width="16" height="16">
        Добавить запись
    </button> 

  <!-- Пагинация -->
{% if deskbook %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pt-5">
        <li class="page-item {% if not deskbook.has_previous %}disabled{% endif %}">
            <a class="page-link" href="{% if deskbook.has_previous %}?{% change_params page=deskbook.previous_page_number %}
            {% else %}
                #
            {% endif %}">Назад</a>
        </li>

        {% for page in deskbook.paginator.page_range %}
            {% if page >= deskbook.number|add:-2 and page <= deskbook.number|add:2 %}
                <li class="page-item {% if deskbook.number == page %} active {% endif %}">
                    <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        <li class="page-item {% if not deskbook.has_next %}disabled{% endif %}">
            <a class="page-link" href="{% if deskbook.has_next %}?{% change_params page=deskbook.next_page_number %}
            {% else %}
                #
            {% endif %}">Вперед</a>
        </li>
    </ul>
</nav>
{% endif %}

{% endblock %}


