<div class="d-flex btn-toolbar mb-2 p-2" role="toolbar" aria-label="Toolbar with button groups">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" {% if "cars" in request.path %}checked{% endif %}>
    <label class="btn btn-outline-primary me-2 mb-2" for="btnradio1" onclick="window.location.href='{% url "cars:cars" %}'; return false">Выбор машины</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" 
    {% if "maintenance" in request.path %}checked{% endif %}>
    <label class="btn btn-outline-primary me-2 mb-2" for="btnradio2" 
        onclick="window.location.href='{% url "maintenance:car_maintenances" car.id %}'; return false">
            Техническое обслуживание
    </label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" 
    {% if "reclamation" in request.path %}checked{% endif %}>
    <label class="btn btn-outline-primary me-2 mb-2" for="btnradio3" 
        onclick="window.location.href='{% url "reclamation:car_reclamations" car.id %}'; return false">
            Рекламации 
    </label>
</div>

