<div class='d-flex justify-content-center myHead'>
    <h3>Проверьте комплектацию и технические характеристики техники Силант</h3>
</div>      

<nav class="colorGray">
    <div class="container-fluid d-flex justify-content-center">
        <form class="d-flex" role="search" action="{% url "cars:car_search" %}" method="get">
            <input class="form-control me-2" type="search" name="q" placeholder="Введите заводской номер или заводские номера" aria-label="Search">
            <button class="btn btn-outline-primary me-2" type="submit">Поиск</button>
        </form>
    </div>
</nav>