{% load static %}
<!-- Для справочника  -->
<div class="modal fade deskbookModal" id="deskbookModal" tabindex="-1" aria-labelledby="deskbookModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Справка</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fs-5" id="deskbook-content">
                <div>
                    <p>Название - {{item.name}}</p>
                </div> 
                <div>
                    <p>Описание:</p>
                    <p> {{item.description}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>