{% extends "base.html" %}

{% load static %}

    {% block content %}

        {% include "includes/search.html" %}

        {% if request.GET.q %}
            <div class='mySearch d-flex justify-content-center'>
                <h3>Результат поиска по запросу заводского номера: {{request.GET.q}} </h3>
            </div>
            {% if not car_search %}<h4 class="d-flex justify-content-center">{{ content }}</h4>{% endif %}
        {% endif %}

        {% if car_search %}
            <div class='table-responsive-xxl'>
            <table class="table table-striped">
                <thead class='myTHead'>
                <tr>
                    <th scope="col">Зав. № машины</th>
                    <th scope="col">Модель техники</th>
                    <th scope="col">Модель двигателя</th>
                    <th scope="col">Зав. № двигателя</th>
                    <th scope="col">Модель трансмиссии</th>
                    <th scope="col">Зав. № трансмиссии</th>
                    <th scope="col">Модель ведущего моста</th>
                    <th scope="col">Зав. № ведущего моста</th>
                    <th scope="col">Модель управляемого моста</th>
                    <th scope="col">Зав. № управляемого моста</th>
                </tr>
                </thead>
                <tbody>
                {% for car in car_search %}
                    <tr>
                        <td>{{ car.serial_number_vehicle }}</td>
                        <td>{{ car.vehicle_model }}</td>
                        <td>{{ car.engine_model }}</td>
                        <td>{{ car.serial_number_of_the_engine }}</td>
                        <td>{{ car.transmission_model }}</td>
                        <td>{{ car.serial_number_of_the_transmission }}</td>
                        <td>{{ car.drive_axle_model }}</td>
                        <td>{{ car.drive_axle_serial_number }}</td>
                        <td>{{ car.steering_axle_model }}</td>
                        <td>{{ car.serial_number_of_the_steered_axle }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            </div>
        {% endif %}

    {% endblock %}


    
