{% extends "base.html" %}

{% load static %}
{% load cars_tags %}

{% block content %}
    <div class="d-flex justify-content-end p-1">
        <h5>Ваша учетная запись - <strong>{{request.user.username}}</strong></h5>
    </div>
    <div class="d-flex justify-content-center p-4">
        <h4>Информация о комплектации и технических характеристиках Вашей техники </h4>
    </div>

    {% include "includes/radiobuttons.html" %}

    <div class="d-flex pt-5 gap-2">
        <!-- Форма сортировки -->
        {% comment %} <div class="dropdown mb-2 me-2">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Сортировка
            </button>

            <form action="{% url "cars:cars" %}" method="get" class="dropdown-menu" data-bs-theme="white">

                <div class="form-check mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" 
                        {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %} >
                    <label class="form-check-label fontSizeBtn" for="flexRadioDefault1">
                        По умолчанию
                    </label>
                </div>
                
                <div class="form-check mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="date_shipped_from_factory"
                        {% if request.GET.order_by == 'date_shipped_from_factory' %}checked{% endif %} >
                    <label class="form-check-label fontSizeBtn" for="flexRadioDefault1">
                        По возрастанию даты отгрузки с завода
                    </label>
                </div>

                <div class="form-check mx-3">
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="-date_shipped_from_factory"
                        {% if request.GET.order_by == '-date_shipped_from_factory' %}checked{% endif %}>
                    <label class="form-check-label fontSizeBtn" for="flexRadioDefault2">
                        По убыванию даты отгрузки с завода
                    </label>
                </div>

                <button type="submit" class="btn btn-primary btn-sm mx-3 mt-3">Применить</button>
            </form>
        </div> {% endcomment %}
        
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Сортировка таблицы
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="?order_by=default">По умолчанию</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item fontSizeBtn" href="?order_by=date_shipped_from_factory">По возрастанию даты отгрузки с завода</a></li>
                <li><a class="dropdown-item fontSizeBtn" href="?order_by=-date_shipped_from_factory">По убыванию даты отгрузки с завода</a></li>    
            </ul>
        </div>

        <!-- Фильтрация по модели техники -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Модель техники
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:cars" %}">Все модели</a></li>
                <li><hr class="dropdown-divider"></li>
                {% tag_vehicle_models as vehicle_models %}
                {% for model in vehicle_models %}
                    <li>
                        <a class="dropdown-item fontSizeBtn" href="{% url "cars:vehicle" model.id %}">
                            {{ model.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Фильтрация по модели двигателя -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Модель двигателя
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:cars" %}">Все модели</a></li>
                <li><hr class="dropdown-divider"></li>
                {% tag_engine_models as engine_models %}
                {% for model in engine_models %}
                    <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:engine" model.id %}">{{ model.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Фильтрация по модели трансмиссии -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Модель трансмиссии
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:cars" %}">Все модели</a></li>
                <li><hr class="dropdown-divider"></li>
                {% tag_transmission_models as transmission_models %}
                {% for model in transmission_models %}
                    <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:transmission" model.id %}">{{ model.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Фильтрация по модели ведущего моста -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Модель ведущего моста
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:cars" %}">Все модели</a></li>
                <li><hr class="dropdown-divider"></li>
                {% tag_drive_axle_models as drive_axle_models %}
                {% for model in drive_axle_models %}
                    <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:drive_axle" model.id %}">{{ model.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Фильтрация по модели управляемого моста -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Модель управляемого моста
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:cars" %}">Все модели</a></li>
                <li><hr class="dropdown-divider"></li>
                {% tag_steering_axle_models as steering_axle_models %}
                {% for model in steering_axle_models %}
                    <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:steering_axle" model.id %}">{{ model.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Button trigger modal -->
        <button class="btn btn-primary btn-sm mb-2 w-100" type="button" onclick="window.location.href='{% url "cars:add_car" %}'; return false">
            <img class="mx-1" src="{% static "source/icons/bus-front-fill.svg" %}" alt="add" width="16" height="16">
            Добавить машину
        </button>
    </div>  

    <table class="table table-striped">
        <thead class='myTHead'>
        <tr>
            <th scope="col">Зав. № машины</th>
            <th scope="col" {% if 'vehicle_model' in request.path %} class="colorRed" {% endif %}>Модель техники</th>
            <th scope="col" {% if 'engine_model' in request.path %} class="colorRed" {% endif %}>Модель двигателя</th>
            <th scope="col">Зав. № двигателя</th>
            <th scope="col" {% if 'transmission_model' in request.path %} class="colorRed" {% endif %}>Модель трансмиссии</th>
            <th scope="col">Зав. № трансмиссии</th>
            <th scope="col" {% if 'drive_axle_model' in request.path %} class="colorRed" {% endif %}>Модель ведущего моста</th>
            <th scope="col">Зав. № ведущего моста</th>
            <th scope="col" {% if 'steering_axle_model' in request.path %} class="colorRed" {% endif %}>Модель управляемого моста</th>
            <th scope="col">Зав. № управляемого моста</th>
            <th scope="col">Договор поставки №, дата</th>
            <th scope="col">Дата отгрузки с завода</th>
            <th scope="col">Грузополучатель (конечный потребитель)</th>
            <th scope="col">Адрес поставки (эксплуатации)</th>
            <th scope="col">Комплектация (доп. опции)</th>
            <th scope="col">Клиент</th>
            <th scope="col">Сервисная компания</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
        
            <tr 
            {% comment %} onclick="window.location.href='{% url "cars:car" car.id %}'; return false" {% endcomment %}
            >
                
                <td>
                    <a class="fs-6" href="{% url "maintenance:car_maintenances" car.id %}">{{ car.serial_number_vehicle }}</a>
                </td>
                <td>{{ car.vehicle_model }}</td>
                <td>{{ car.engine_model }}</td>
                <td>{{ car.serial_number_of_the_engine }}</td>
                <td>{{ car.transmission_model }}</td>
                <td>{{ car.serial_number_of_the_transmission }}</td>
                <td>{{ car.drive_axle_model }}</td>
                <td>{{ car.drive_axle_serial_number }}</td>
                <td>{{ car.steering_axle_model }}</td>
                <td>{{ car.serial_number_of_the_steered_axle }}</td>
                <td>{% if not car.supply_contract %} Не указан {% else %}{{ car.supply_contract }}{% endif %}</td>
                <td>{{ car.date_shipped_from_factory }}</td>
                <td>{{ car.consignee }}</td>
                <td>{{ car.delivery_address }}</td>
                <td>{{ car.equipment|truncatechars:40 }}</td>
                <td>{{ car.client }}</td>
                <td>{{ car.service_company }}</td>
                <td class="p-1">
                    <div class="d-inline-flex justify-content-between">
                        <a href="#" class="remove-from-cart m-2" data-bs-toggle="modal" data-bs-target="#exampleModal_{{car.id}}">
                            <img class="mx-1" src="{% static "source/icons/trash3-fill.svg" %}" alt="Trash" width="16" height="16">
                        </a>
                        <a href="{% url "cars:edit_car" pk=car.id %}" class="remove-from-cart m-2">
                            <img class="mx-1" src="{% static "source/icons/tools.svg" %}" alt="Tools" width="16" height="16">
                        </a>
                    </div>
                    
                      <!-- Modal -->
                    <div class="modal fade" id="exampleModal_{{car.id}}" tabindex="-1" aria-labelledby="exampleModalLabel_{{car.id}}" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body fs-5">
                                Вы действительно хотите удалить машину {{car}}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <button type="button" class="btn btn-primary" 
                                    onclick="window.location.href='{% url "cars:remove_car" car.id %}'; return false">Удалить</button>
                            </div>
                        </div>
                        </div>
                    </div>

                </td>
                
            </tr>
        {% endfor %}

        </tbody>
    </table>

<!-- Пагинация -->
{% if cars %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not cars.has_previous %}disabled{% endif %}">
                <a class="page-link" href="{% if cars.has_previous %}?{% change_params page=cars.previous_page_number %}
                {% else %}
                    #
                {% endif %}">Назад</a>
            </li>

            {% for page in cars.paginator.page_range %}
                {% if page >= cars.number|add:-2 and page <= cars.number|add:2 %}
                    <li class="page-item {% if cars.number == page %} active {% endif %}">
                        <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <li class="page-item {% if not cars.has_next %}disabled{% endif %}">
                <a class="page-link" href="{% if cars.has_next %}?{% change_params page=cars.next_page_number %}
                {% else %}
                    #
                {% endif %}">Вперед</a>
            </li>
        </ul>
    </nav>
{% endif %}
   
{% endblock %}
