{% extends "main/base.html" %}

{% load static %}

{% block cars %}
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary me-2" for="btnradio1">Общая информация</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary me-2" for="btnradio2">Техническое обслуживание</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary me-2" for="btnradio3">Рекламации</label>
    </div>

    <table class="table table-striped">
        <thead class='myTHead'>
        <tr>
            <th scope="col">Зав. № машины</th>
            <th scope="col">Модель техники</th>
            <th scope="col">Модель двигателя</th>
            <th scope="col">Зав. № двигателя</th>
            <th scope="col">Модель трансмиссии</th>
            <th scope="col">Зав. № трансмиссии</th>
            <th scope="col">Модель ведущего моста</th>
            <th scope="col">Зав. № ведущего моста</th>
            <th scope="col">Модель управляемого моста</th>
            <th scope="col">Зав. № управляемого моста</th>
            <th scope="col">Договор поставки №, дата</th>
            <th scope="col">Дата отгрузки с завода</th>
            <th scope="col">Грузополучатель (конечный потребитель)</th>
            <th scope="col">Адрес поставки (эксплуатации)</th>
            <th scope="col">Комплектация (доп. опции)</th>
            <th scope="col">Клиент</th>
            <th scope="col">Сервисная компания</th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.serial_number_vehicle }}</td>
                <td>
                    <a href="{% url "deskbook:vehicle" car.vehicle_model_id %}">
                        {{ car.vehicle_model }}
                    </a>
                </td>
                <td>
                    <a href="{% url "deskbook:engine" car.engine_model_id %}">
                        {{ car.engine_model }}
                    </a>
                </td>
                <td>{{ car.serial_number_of_the_engine }}</td>
                <td>
                    <a href="{% url "deskbook:transmission" car.transmission_model_id %}">
                        {{ car.transmission_model }}
                    </a>
                </td>
                <td>{{ car.serial_number_of_the_transmission }}</td>
                <td>
                    <a href="{% url "deskbook:drive_axle" car.drive_axle_model_id %}">
                        {{ car.drive_axle_model }}
                    </a>
                </td>
                <td>{{ car.drive_axle_serial_number }}</td>
                <td>
                    <a href="{% url "deskbook:steering_axle" car.steering_axle_model_id %}">
                        {{ car.steering_axle_model }}
                    </a>
                </td>
                <td>{{ car.serial_number_of_the_steered_axle }}</td>
                <td>{{ car.supply_contract }}</td>
                <td>{{ car.date_shipped_from_factory }}</td>
                <td>{{ car.consignee }}</td>
                <td>{{ car.delivery_address }}</td>
                <td>{{ car.equipment }}</td>
                <td>{{ car.client }}</td>
                <td>{{ car.service_company }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block main_footer %}
    <footer class="container py-3 my-4 ">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
        <div class='footerText'>
            <p class="text-center text-body-secondary">+7-8352-20-12-09, telegram</p>
            <p class="text-center text-body-secondary">&copy; 2024 Мой Силант</p>
        </div>
    </footer>
{% endblock %}