{% extends "base.html" %}

{% load static %}
{% load cars_tags %}

{% block content %}
    {% include "includes/user_info.html" %}
    <div class="d-flex justify-content-center p-4">
        <h4>Информация о комплектации и технических характеристиках Вашей техники </h4>
    </div>

    {% include "includes/radiobuttons.html" %}

    <div class="d-flex pt-5 gap-2">
        <!-- Форма сортировки -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Сортировка таблицы
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="?order_by=default">По умолчанию</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item fontSizeBtn" href="?order_by=date_shipped_from_factory">По возрастанию даты отгрузки с завода</a></li>
                <li><a class="dropdown-item fontSizeBtn" href="?order_by=-date_shipped_from_factory">По убыванию даты отгрузки с завода</a></li>    
            </ul>
        </div>

        <!-- Фильтрация по модели техники -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Модель техники
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:cars" %}">Все модели</a></li>
                <li><hr class="dropdown-divider"></li>
                {% tag_vehicle_models as vehicle_models %}
                {% for model in vehicle_models %}
                    <li>
                        <a class="dropdown-item fontSizeBtn" href="{% url "cars:vehicle" model.id %}">
                            {{ model.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Фильтрация по модели двигателя -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Модель двигателя
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:cars" %}">Все модели</a></li>
                <li><hr class="dropdown-divider"></li>
                {% tag_engine_models as engine_models %}
                {% for model in engine_models %}
                    <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:engine" model.id %}">{{ model.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Фильтрация по модели трансмиссии -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Модель трансмиссии
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:cars" %}">Все модели</a></li>
                <li><hr class="dropdown-divider"></li>
                {% tag_transmission_models as transmission_models %}
                {% for model in transmission_models %}
                    <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:transmission" model.id %}">{{ model.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Фильтрация по модели ведущего моста -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Модель ведущего моста
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:cars" %}">Все модели</a></li>
                <li><hr class="dropdown-divider"></li>
                {% tag_drive_axle_models as drive_axle_models %}
                {% for model in drive_axle_models %}
                    <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:drive_axle" model.id %}">{{ model.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Фильтрация по модели управляемого моста -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Модель управляемого моста
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:cars" %}">Все модели</a></li>
                <li><hr class="dropdown-divider"></li>
                {% tag_steering_axle_models as steering_axle_models %}
                {% for model in steering_axle_models %}
                    <li><a class="dropdown-item fontSizeBtn" href="{% url "cars:steering_axle" model.id %}">{{ model.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% if perms.cars.add_cars %}
            <button class="btn btn-primary btn-sm mb-2 w-100 ms-auto" type="button" onclick="window.location.href='{% url "cars:add_car" %}'; return false">
                <img class="mx-1" src="{% static "source/icons/bus-front-fill.svg" %}" alt="add" width="16" height="16">
                Добавить машину
            </button>
        {% endif %}
    </div>  

    <table class="table table-striped">
        <thead class='myTHead'>
        <tr>
            <th scope="col" class="p-1">Зав. № машины</th>
            <th scope="col" class="p-1" {% if 'vehicle_model' in request.path %} class="colorRed" {% endif %}>Модель техники</th>
            <th scope="col" class="p-1" {% if 'engine_model' in request.path %} class="colorRed" {% endif %}>Модель двигателя</th>
            <th scope="col" class="p-1">Зав. № двигателя</th>
            <th scope="col" class="p-1" {% if 'transmission_model' in request.path %} class="colorRed" {% endif %}>Модель трансмиссии</th>
            <th scope="col" class="p-1">Зав. № трансмиссии</th>
            <th scope="col" class="p-1" {% if 'drive_axle_model' in request.path %} class="colorRed" {% endif %}>Модель ведущего моста</th>
            <th scope="col" class="p-1">Зав. № ведущего моста</th>
            <th scope="col" class="p-1" {% if 'steering_axle_model' in request.path %} class="colorRed" {% endif %}>Модель управляемого моста</th>
            <th scope="col" class="p-1">Зав. № управляемого моста</th>
            <th scope="col" class="p-1">Договор поставки №, дата</th>
            <th scope="col" class="p-1">Дата отгрузки с завода</th>
            <th scope="col" class="p-1">Грузополучатель (конечный потребитель)</th>
            <th scope="col" class="p-1">Адрес поставки (эксплуатации)</th>
            <th scope="col" class="p-1">Комплектация (доп. опции)</th>
            <th scope="col" class="p-1">Клиент</th>
            <th scope="col" class="p-1">Сервисная компания</th>
            <th scope="col" class="p-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
        
            <tr 
            {% comment %} onclick="window.location.href='{% url "cars:car" car.id %}'; return false" {% endcomment %}
            >
                
                <td class="align-middle p-2">
                    <div class='d-inline-flex justify-content-between align-items-center' >
                        <a class="align-middle fs-6" href="{% url "maintenance:car_maintenances" car.id %}">{{ car.serial_number_vehicle }}</a>

                        <a href="{% url "cars:car_ajax" %}" class="modalCarLink ms-2" aria-expanded="false" data-car-id="{{ car.id }}" >
                            <img class="mx-1" src="{% static "source/icons/box-arrow-up-right.svg" %}" alt="box-arrow" width="16" height="16">
                        </a>
                    </div>
                </td>
                <td class="align-middle p-2"> 
                    <div class='d-inline-flex justify-content-between align-items-center' >
                        {{ car.vehicle_model }}
                        <a href="{% url "deskbook:deskbook_ajax" %}" class="modalLink" aria-expanded="false" data-deskbook-name="vehicle_model" data-deskbook-id="{{ car.vehicle_model.id}}">
                            <img class="mx-1" src="{% static "source/icons/question.svg" %}" alt="Trash" width="16" height="16">
                        </a>
                    </div>

                </td>
                <td class="align-middle p-2" >
                    <div class='d-inline-flex justify-content-between align-items-center' >
                        {{ car.engine_model }}
                        <a href="{% url "deskbook:deskbook_ajax" %}" class="modalLink" aria-expanded="false" data-deskbook-name="engine_model" data-deskbook-id="{{ car.engine_model.id}}">
                            <img class="mx-1" src="{% static "source/icons/question.svg" %}" alt="Trash" width="16" height="16">
                        </a>
                    </div>
                </td>
                <td class="align-middle p-2">{{ car.serial_number_of_the_engine }}</td>
                <td class="align-middle p-2">
                    <div class='d-inline-flex justify-content-between align-items-center' >
                        {{ car.transmission_model }}
                        <a href="{% url "deskbook:deskbook_ajax" %}" class="modalLink" data-deskbook-name="transmission_model" data-deskbook-id="{{ car.transmission_model.id}}">
                            <img class="mx-1" src="{% static "source/icons/question.svg" %}" alt="Trash" width="16" height="16">
                        </a>
                    </div>
                </td>
                <td class="align-middle p-2">{{ car.serial_number_of_the_transmission }}</td>
                <td class="align-middle p-2">
                    <div class='d-inline-flex justify-content-between align-items-center' >
                        {{ car.drive_axle_model }}
                        <a href="{% url "deskbook:deskbook_ajax" %}" class="modalLink" data-deskbook-name="drive_axle_model" data-deskbook-id="{{ car.drive_axle_model.id}}">
                            <img class="mx-1" src="{% static "source/icons/question.svg" %}" alt="Trash" width="16" height="16">
                        </a>
                    </div>
                </td>
                <td class="align-middle p-2">{{ car.drive_axle_serial_number }}</td>
                <td class="align-middle p-2">
                    <div class='d-inline-flex justify-content-between align-items-center' >
                        {{ car.steering_axle_model }}
                        <a href="{% url "deskbook:deskbook_ajax" %}" class="modalLink" data-deskbook-name="steering_axle_model" data-deskbook-id="{{ car.steering_axle_model.id}}">
                            <img class="mx-1" src="{% static "source/icons/question.svg" %}" alt="Trash" width="16" height="16">
                        </a>
                    </div>
                </td>
                <td class="align-middle p-2">{{ car.serial_number_of_the_steered_axle }}</td>
                <td class="align-middle p-2">{% if not car.supply_contract %} Не указан {% else %}{{ car.supply_contract }}{% endif %}</td>
                <td class="align-middle p-2">{{ car.date_shipped_from_factory }}</td>
                <td class="align-middle p-2">{{ car.consignee }}</td>
                <td class="align-middle p-2">{{ car.delivery_address }}</td>
                <td class="align-middle p-2">{{ car.equipment|truncatechars:40 }}</td>
                <td class="align-middle p-2">{{ car.client }}</td>
                <td class="align-middle p-2">
                    <div class='d-inline-flex justify-content-between align-items-center' >
                        {{ car.service_company }}
                        <a href="{% url "deskbook:deskbook_ajax" %}" class="modalLink" data-deskbook-name="service_company" data-deskbook-id="{{ car.service_company.id}}">
                            <img class="mx-1" src="{% static "source/icons/question.svg" %}" alt="Trash" width="16" height="16">
                        </a>
                    </div>
                </td>
                <td class="p-1 align-middle">
                    <div class="d-inline-flex justify-content-between">
                        {% if perms.cars.delete_cars %}
                            <a href="#" class="remove-from-cart m-2" data-bs-toggle="modal" data-bs-target="#exampleModal_{{car.id}}">
                                <img class="mx-1" src="{% static "source/icons/trash3-fill.svg" %}" alt="Trash" width="16" height="16">
                            </a>
                        {% endif %}
                        {% if perms.cars.change_cars %}
                            <a href="{% url "cars:edit_car" pk=car.id %}" class="remove-from-cart m-2">
                                <img class="mx-1" src="{% static "source/icons/tools.svg" %}" alt="Tools" width="16" height="16">
                            </a>
                        {% endif %}
                    </div>
                    
                      <!-- Modal -->
                    <div class="modal fade" id="exampleModal_{{car.id}}" tabindex="-1" aria-labelledby="exampleModalLabel_{{car.id}}" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body fs-5">
                                Вы действительно хотите удалить машину {{car}}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <button type="button" class="btn btn-primary" 
                                    onclick="window.location.href='{% url "cars:remove_car" car.id %}'; return false">Удалить</button>
                            </div>
                        </div>
                        </div>
                    </div>

                </td>
                
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% if not cars %} <div class="d-flex justify-content-center"><h3>Нет данных о машинах</h3></div> {% endif %}
<!-- Пагинация -->
{% if cars %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not cars.has_previous %}disabled{% endif %}">
                <a class="page-link" href="{% if cars.has_previous %}?{% change_params page=cars.previous_page_number %}
                {% else %}
                    #
                {% endif %}">Назад</a>
            </li>

            {% for page in cars.paginator.page_range %}
                {% if page >= cars.number|add:-2 and page <= cars.number|add:2 %}
                    <li class="page-item {% if cars.number == page %} active {% endif %}">
                        <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <li class="page-item {% if not cars.has_next %}disabled{% endif %}">
                <a class="page-link" href="{% if cars.has_next %}?{% change_params page=cars.next_page_number %}
                {% else %}
                    #
                {% endif %}">Вперед</a>
            </li>
        </ul>
    </nav>
{% endif %}
   
{% endblock %}
