{% extends "base.html" %}
{% load static %}

{% block login %}
        <div class="container">
            {% comment %} <div class="row mt-1"> {% endcomment %}
                {% comment %} <div class="col-lg-2">
                    <!-- Пустой блок -->
                </div> {% endcomment %}
                <div class="col-lg-10" style='width:100%'>
                    <!-- Контент на странице -->
                    <div class="row">
                        <div class="container mt-5">
                            <div class="row justify-content-center">
                                <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                                    <h2 class="text-center mb-4">Авторизация</h2>
                                    <form action="{% url "user:login" %}" method="post">
                                        {% csrf_token %}
                                        {{form}}
                                        {% comment %} <div class="mb-3">
                                            <label for="username" class="form-label" >Имя пользователя</label>
                                            <input type="text" class="form-control" id="username" style='width:100%' placeholder="Введите имя пользователя" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">Пароль</label>
                                            <input type="password" class="form-control" id="password" style='width:100%' placeholder="Введите пароль" required>
                                        </div>{% endcomment %}
                                        <button type="submit" class="btn btn-primary">Войти</button> 
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% comment %} </div> {% endcomment %}
        </div>
{% endblock %}