{% extends "base.html" %}

{% load static %}
{% load maintenance_tags %}

{% block content %}
    <div class="d-flex justify-content-end p-1">
        <h5>Ваша учетная запись - <strong>{{request.user.username}}</strong></h5>
    </div>

    {% if car %}
        <div class="d-flex justify-content-around p-2">
            <h4 class="name_car">Модель техники: {{car.vehicle_model}}</h4>
            <h4 class="serial_number_vehicle">Заводской номер: {{car.serial_number_vehicle}} </h4>
        </div>
    {% endif %}

    <div class="container">
        <div class="col-lg-10 auth-width">
            
            <div class="row">
                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                            {% if 'add_maintenance' in request.path%}
                                <h2 class="text-center mb-4">Добавить техническое обслуживание</h2>
                            {% else %}
                                <h2 class="text-center mb-4">Редактировать техническое обслуживание</h2>
                            {% endif %}
                            
                            <form action="
                                {% if 'add_maintenance' in request.path and request.resolver_match.kwargs %}
                                    {% url "maintenance:add_maintenance_car" car.id %}
                                {% elif 'edit_maintenance' in request.path %}
                                    {% url "maintenance:edit_maintenance" item.id %}
                                {% else %}
                                    {% url "maintenance:add_maintenance" %}
                                {% endif %}" 
                            method="post">
                                {% csrf_token %}
                                {% tag_list_deskbook as list_deskbook %}
                                {% for field in form  %}
                                    <div class="d-flex flex-column mb-3">

                                        {% if field.errors%}
                                            {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                {{error}}
                                            </div>
                                            {% endfor %}
                                        {% endif %}

                                        <div class="auth-width">
                                            <label for="{{field.id_for_label}}" class="form-label" >{{ field.label }}</label>
                                            <div class="d-flex flex-row justify-content-end">
                                                {{ field }}
                                                {% if field.name in list_deskbook %}
                                                    <a href="{% url "deskbook:add_deskbook" field.name %}" class="m-2">
                                                        <img class="mx-1" src="{% static "source/icons/plus-lg.svg" %}" alt="Plus" width="16" height="16">
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}                                

                                <button type="submit" class="btn btn-primary float-end">Сохранить</button> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}