{% extends "base.html" %}

{% load static %}

{% load maintenance_tags %}

{% block content %}
    <div class="d-flex justify-content-end p-1">
        <h5>Ваша учетная запись - <strong>{{request.user.username}}</strong></h5>
    </div>

    <div class="d-flex justify-content-around p-2">
        <h4 class="name_car">Модель техники: {{car.vehicle_model}}</h4>
        <h4 class="serial_number_vehicle">Заводской номер: {{car.serial_number_vehicle}} </h4>
    </div>

    {% include "includes/radiobuttons_item.html" %}
    
    <div class="d-flex pt-5">
        <!-- Форма сортировки -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Сортировка таблицы
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="?order_by=default">По умолчанию</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item fontSizeBtn" href="?order_by=Date_maintenance">По возрастанию даты проведения ТО</a></li>
                <li><a class="dropdown-item fontSizeBtn" href="?order_by=-Date_maintenance">По убыванию даты проведения ТО</a></li>    
            </ul>
        </div>
        <!-- Фильтрация по виду ТО -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Вид ТО
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="{% url "maintenance:car_maintenances" car.id %}">Все виды</a></li>
                <li><hr class="dropdown-divider"></li>
                {% tag_view_maintenance as view_maintenance %}
                {% for view in view_maintenance %}
                {% if view.id in wm_for_watch %}
                    <li>
                        <a class="dropdown-item fontSizeBtn" href="{% url "maintenance:car_maintenances_view" car.id view.id %}">
                            {{ view.name }}
                        </a>
                    </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!-- Фильтрация по машине -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" disabled>
                Зав. номер машины
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="{% url "maintenance:maintenance_all" %}">Все машины</a></li>
                <li><hr class="dropdown-divider"></li>
                {% tag_serial_number_vehicle as serial_number %}
                {% for number in serial_number %}
                    <li>
                        <a class="dropdown-item fontSizeBtn" href="{% url "maintenance:car" number.id %}">
                            {{ number.serial_number_vehicle }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    
        <!-- Фильтрация по сервисная компания -->
        <div class="dropdown mb-2 me-1">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Сервисная компания
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item fontSizeBtn" href="{% url "maintenance:car_maintenances" car.id %}">Все компании</a></li>
                <li><hr class="dropdown-divider"></li>
                {% tag_service_company as service_company %}
                {% for company in service_company %}
                    {% if company.id in sc_for_watch %}
                    <li>
                        <a class="dropdown-item fontSizeBtn" href="{% url "maintenance:car_maintenances_service" car.id company.id %}">
                            {{ company.name }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <button class="btn btn-primary btn-sm mb-2 ms-auto" type="button" onclick="window.location.href='{% url "maintenance:add_maintenance_car" car.id %}'; return false">
            <img class="mx-1" src="{% static "source/icons/wrench-adjustable.svg" %}" alt="add" width="16" height="16">
            Добавить ТО
        </button>
    
    </div>

    <table class="table table-striped">
        <thead class='myTHead'>
        <tr>
            <th scope="col" {% if 'view_maintenance' in request.path %} class="colorRed"{% endif %}>Вид ТО</th>
            <th scope="col">Дата проведения ТО</th>
            <th scope="col">Наработка, м/час</th>
            <th scope="col">№ заказ-наряда</th>
            <th scope="col">Дата заказ-наряда</th>
            <th scope="col" {% if 'service_company' in request.path %}class="colorRed"{% endif %}>Сервисная компания</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        {% for item in maintenances %}
        
            <tr>
                <td class="align-middle" >
                    <div class='d-inline-flex justify-content-between align-items-center' >
                        {{ item.view_maintenance }}
                        <a href="{% url "deskbook:deskbook_ajax" %}" class="modalLink" aria-expanded="false" data-deskbook-name="view_maintenance" data-deskbook-id="{{ item.view_maintenance.id}}">
                            <img class="mx-1" src="{% static "source/icons/question.svg" %}" alt="Trash" width="16" height="16">
                        </a>
                    </div>
                </td>
                <td class="align-middle" >{{ item.Date_maintenance }}</td>
                <td class="align-middle" >{{ item.operating_hours }}</td>
                <td class="align-middle" >{{ item.work_order_number }}</td>
                <td class="align-middle" >{{ item.work_order_date }}</td>
                <td class="align-middle" >
                    <div class='d-inline-flex justify-content-between align-items-center' >
                        {{ item.service_company }}
                        <a href="{% url "deskbook:deskbook_ajax" %}" class="modalLink" aria-expanded="false" data-deskbook-name="service_company" data-deskbook-id="{{ item.service_company.id}}">
                            <img class="mx-1" src="{% static "source/icons/question.svg" %}" alt="Trash" width="16" height="16">
                        </a>
                    </div>
                </td>
                <td class="p-1">
                    <div class="d-inline-flex justify-content-between">
                        <a href="#" class="remove-from-cart m-2" data-bs-toggle="modal" data-bs-target="#exampleModal_{{item.id}}">
                            <img class="mx-1" src="{% static "source/icons/trash3-fill.svg" %}" alt="Trash" width="16" height="16">
                        </a>
                        <a href="{% url "maintenance:edit_maintenance" item.id %}" class="remove-from-cart m-2">
                            <img class="mx-1" src="{% static "source/icons/tools.svg" %}" alt="Tools" width="16" height="16">
                        </a>
                    </div>
                    
                      <!-- Modal -->
                    <div class="modal fade" id="exampleModal_{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel_{{item.id}}" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body fs-5">
                                Вы действительно хотите удалить ТО {{item}}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <button type="button" class="btn btn-primary" 
                                    onclick="window.location.href='{% url "maintenance:remove_maintenance" item.id %}'; return false">Удалить</button>
                            </div>
                        </div>
                        </div>
                    </div>

                </td>
            </tr>
        
        {% endfor %}
    </tbody>
    
    </table>
    {% if not maintenances %} <div class="d-flex justify-content-center"><h3>Нет данных о техническом обслуживании</h3></div> {% endif %}

        <!-- Пагинация -->
{% if maintenances %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not maintenances.has_previous %}disabled{% endif %}">
            <a class="page-link" href="{% if maintenances.has_previous %}?{% change_params page=maintenances.previous_page_number %}
            {% else %}
                #
            {% endif %}">Назад</a>
        </li>

        {% for page in maintenances.paginator.page_range %}
            {% if page >= maintenances.number|add:-2 and page <= maintenances.number|add:2 %}
                <li class="page-item {% if maintenances.number == page %} active {% endif %}">
                    <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        <li class="page-item {% if not maintenances.has_next %}disabled{% endif %}">
            <a class="page-link" href="{% if maintenances.has_next %}?{% change_params page=maintenances.next_page_number %}
            {% else %}
                #
            {% endif %}">Вперед</a>
        </li>
    </ul>
</nav>
{% endif %}


{% endblock %}
